[Desktop Entry]
Type=Application
Version=1.0
Name=zmux
Comment=Terminal workspace multiplexer
Exec=zmux
Icon=io.github.thinkter.zmux
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
StartupWMClass=io.github.thinkter.zmux
