[Desktop Entry]
Type=Application
Version=1.0
Name=zmux
Comment=Terminal workspace multiplexer
Exec=zmux
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
